* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inclusive Sans", serif;
}

/* Navbar styles */
.navbar {
    background-color: #81689d;
    padding: 10px 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    align-items: center;
}

#navbar__logo {
    background-color: #ffd0ec;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.button {
    background-color: #ffd0ec;
    color: #1f2544;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background: #474f7a;
    color: #ffd0ec;
    transition: all 0.3s ease;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.navbar__dropdown-parent {
    position: relative;
}

.navbar__dropdown {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    background-color: #ffd0ec;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 999;
    min-width: 80px;
}

.navbar__dropdown li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar__dropdown li .button {
    width: 100%;
    /* padding: 10px; */
    background-color: #ffd0ec;
    color: #1f2544;
    border-radius: 0;
    text-align: left;
}

.navbar__dropdown li .button:hover {
    background-color: #474f7a;
    color: #ffd0ec;
}

.navbar__dropdown-parent:hover .navbar__dropdown {
    display: block;
}

/* color picker */
.color-picker {
    display: none;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 20px;
    z-index: 2;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.element:hover .color-picker {
    display: block;
}

.element .color-picker:hover {
    background-color: #aaa;
}

/* delete element */
.delete-element {
    display: none;
    position: absolute;
    top: -0;
    right: -0;
    background-color: transparent;
    color: black;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
}

.element:hover .delete-element {
    display: block;
  }

.element .delete-element:hover {
    background-color: lightcoral;
}

/* resize element */
.resizer {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    border: none;
    cursor: se-resize;
    background-color: transparent;
    display: none;
}

.element:hover .resizer {
    display: block;
  }

.element .resizer:hover {
    background-color: #aaa;
}

/* text box */
.text {
    min-width: 40px;
    min-height: 40px;
}

/* shape box */
.square {
    min-width: 40px;
    min-height: 40px;
}

/* timer */
.timer {
    z-index: 0;
    min-width: 230px;
    min-height: 170px;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 2em;
    padding: 5px;
    min-width: 200px;
    min-height: 150px;
}

.timer-title {
    font-size: 1rem;
    margin-top: 10px;
}

.timer-clk {
    font-size: 4rem;
    font-weight: bold;
}

.timer-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.timer-btns .top-row,
.timer-btns .bottom-row {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.timer-btns button {
    padding: 8px 12px;
    border: none;
    width: 80px;
    border-radius: 5px;
    background-color: #ddd;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.timer-btns button:hover {
    background-color: #aaa;
}